@import "~assets/scss/variables_megacode";

#footer-megacode {
  margin-top: $default-margin-top;
}

#corporygth {
  background-color: magenta;
}

fa-icon{
  color: magenta;
  svg {
    width: 40px;
    height: 40px;
  }
}
