<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="card bg-dark">
      <div class="card-body text-center">
        <img src="../../../../assets/logos/logo-lg.png" width="180">

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <form novalidate>
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="{{'megacode.placeholder.email' | i18n}}" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="{{'megacode.placeholder.password' | i18n}}" required>
              </div>
              <div class="form-group">

                <button type="submit" class="btn btn-primary">{{'megacode.button.submit' | i18n}}</button>
              </div>
            </form>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
